html, body {
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2rem;
}
/* Override PrismJS */
.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  background: transparent !important;
}
